<mat-toolbar color="warning" class="mat-elevation-z9">
    <span>請選擇播放以下的歌曲：</span>
</mat-toolbar>
<mat-grid-list class="video-grid-list" cols="2" rowHeight="1:1">
    <mat-grid-tile>
        <button class="ripple-container mat-elevation-z4" 
                mat-button (click)="openTaichungCitySongDialog()">
            市歌
        </button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button class="ripple-container mat-elevation-z4" 
                mat-button (click)="openTaichungCountySongDialog()">
            縣歌
        </button>
    </mat-grid-tile>
</mat-grid-list>